@import "tailwindcss";
@import "tw-animate-css";

@keyframes fadeOutLabel {
    0% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    70% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateX(0.5rem) scale(0.95);
    }
}


@layer base {
    body {
        font-family: 'Outfit', sans-serif;
        background-color: black;
        color: white;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #09090b;
    }

    ::-webkit-scrollbar-thumb {
        background: #27272a;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #3f3f46;
    }
}

@keyframes gradient {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}